Flask==2.2.2
scikit-learn==1.2.2
Werkzeug==2.2.3
numpy<2.0
google-api-python-client==2.137.0
python-dotenv==1.0.1
PyPDF2==3.0.1
python-docx==1.1.2
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.2
Flask-Bcrypt==1.0.1
gunicorn==22.0.0